@charset "  UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #141414;
}

img{
    border-radius:  100%;
    padding-top: 30px;
}

h1{
    color: white;
    margin-bottom: 5px;
}

h2{
    color: chartreuse;
}

p{
    margin: 20px 0px;
    color: white;
}

a{
    padding: 13px 60px;
    text-decoration: none;
    color: white;
}

#geral{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1F1F1F;
    width: 80vw;
    border-radius: 20px;
    padding-bottom: 20px;
    
}

.link{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    background-color: #333333;
    text-align: center;
    width: 40vw;
    

}

.link:hover{
    border: solid white 2px;
    transform: translate(1px, 1px);
}

@media screen and (min-width: 768px) {
    #geral{
        margin-top: 50px;
        width: 50vw;
        padding-bottom: 150px;
    }
}